.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.field {
  text-align: left;
  justify-content: center;
  font-size: 2em;
  min-width: 200px ;
  max-width: 320px;
  min-height: 40px;
  max-height: 80px;
}

.container{
  display: flex;
  align-items: left;
}